/*
CSS for the default page
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Apply to the main container */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;  /* Prevents horizontal scrolling */
  
}

.html-defautl, .body-default {
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

.content-default{
  max-width: 100%;
}
.container-default{
  max-width: 100%;
  margin-top: 63px;
}


/* This is the style of the card */
/* General container for the card */
body {
  display: grid;
  place-items: center;
  margin-top: 0px;
}
img {
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: 'Holen Vintage';
  src: url('/assets/fonts/holen_vintage/Holen Vintage.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


