---
layout: default
title: Staff
permalink: /creditos/
head: |
  <meta name="robots" content="noindex">
---

<div class="center-content">
  <h2>Cozinheiros onde nos inspiramos</h2>

  <div class="subtext-creditos">
    Ao longo do tempo, fomos descobrindo receitas que experimentámos e adorámos. Em muitas delas, acrescentámos o nosso toque pessoal e ajustámos aos nossos gostos, mas queremos reconhecer e valorizar o trabalho destes talentosos cozinheiros e criadores.
    
    <br>
    
    Assim, como forma de agradecimento e de reconhecimento, deixamos abaixo os devidos créditos e os links para que possam explorar o trabalho destas fontes de inspiração. Esperamos que também se deixem inspirar pelo talento e criatividade que tanto apreciamos.
  </div>

  <table class="inspiration-table">
    <table class="inspiration-table">
      {% assign chef_count = 0 %}
      {% for chef in site.chefs %}
        {% if chef_count == 0 %}
          <tr>
        {% endif %}
        
        <td colspan="2">
          <a class="text-before" href="{{ chef.site }}">{{ chef.name }}</a>
        </td>
        
        {% assign chef_count = chef_count | plus: 1 %}
        
        {% if chef_count == 2 %}
          </tr>
          {% assign chef_count = 0 %}
        {% endif %}
      {% endfor %}
      
      <!-- Close any open row in case of an odd number of chefs -->
      {% if chef_count != 0 %}
        </tr>
      {% endif %}
    </table>
    
  </table>
</div>
