<div id="chat-circle">
    <button id='chat-icon'>
      <image src='assets/img/chatbot.png' alt="buttonpng" id='icon'class="chatbot-icon"></image>
      <div id="chat-message" style='display: none;'>
        Olá! Sou a Repolha, a Assistente do Tofumelo. Estou aqui para ajuda-lo!
      </div>
    </button>
  </div>
  <!-- Chat Window Container, initially hidden -->
  <div id="chat-box" style="display: none;">
    <div id="chat-box-header">
      <span id="online"></span> 
      <img src="assets/img/chatbot-head.png">
      <span id="persona">REPOLHA</span>
      <span class="chat-box-toggle">
        <button id="close-button">&#215;</button>
      </span>
    </div>
  </div>