<footer id="footer">
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.link }}" {% if page.url==item.link %} {% endif %} >
            {{ item.name }}
          </a>
        </li>
        {%endfor%}
        <li>
          <a href="mailto:tofumelo@hotmail.com">
            Contactos
          </a>
        </li>
    </ul>
    <p>
      
  </p>
  
   <p class="direitos-footer">Tofumelo © | Receitas vegan criadas com amor | <a href="https://github.com/diogofranciscop/tofumelo" alt="_blank" class="plain-link">código open-source</a> </p> 
</footer>