<nav id="nav">
  <!-- Left Section: Logo and Title -->
  <div class="logo-container">
    <a href="/" class="image-link">
      <img src="/assets/img/logo.webp" alt="Website Logo" class="logo" width="112" height="48">
      <h1 class="logo-title">Tofumelo</h1>
    </a>
  </div>
  <li class="burger-menu">
    <button id="burger-toggle" class="burger"><i class="fas fa-bars"></i></button> <!-- Icon for the burger menu -->
  </li>
  <!-- Right Section: Navigation Links -->
  <ul class="nav-links" id="nav-links">
    {% for item in site.data.navigation %}
    <li>
      <a href="{{ item.link }}" 
         class="{% if page.url == item.link %}current{% endif %} 
                {% if item.name == 'Envia a tua receita' %}contactos-special{% endif %}">
        {{ item.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
