<nav>
  <!-- Left Section: Logo and Title -->
  <div class="logo-container">
    <a href="/" class="image-link">
      <img src="/assets/img/new-logo.png" alt="Website Logo" class="logo">
    </a>
    <h1 class="logo-title">tofumelo</h1>
  </div>

  <!-- Right Section: Navigation Links -->
  <ul class="nav-links">
    {% for item in site.data.navigation %}
    <li>
      <a href="{{ item.link }}" 
         class="{% if page.url==item.link %}current{% endif %} 
                {% if item.name=='Envia a tua receita' %}contactos-special{% endif %}">
        {{ item.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
