<!doctype html>
<html class="html-default">
  <head>
    <meta charset="utf-8">
    <title>Vegan Recipes</title>
    <link rel="icon" href="/assets/img/porco.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/filters.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMj2n8n3r+Fe8A1F+5aI0D9hG0J1P/s8bqImI" crossorigin="anonymous">

  </head>
  <body class="body-default" style="margin-top: 55px">
    {% include navigation.html %}
    <div class="container-default">
        <div class="content-default">
            <!-- Main content goes here -->
             {{ content }}
        </div>
        <footer>
            <!-- Footer content goes here -->
           <p>© 2024 vegan-recipes</p> 
            <p>Released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.</p>
          </footer>
    </div>
  </body>
</html>