---
layout: default
---
<div class="post-container2">
    <div class="recipe-card2">

        <div class="image-section2">
            <img class="post-recipe-img2" src="{{ page.image }}">
            <div class="overlay2">
                <div class="header2">
                    <h1>{{page.title | upcase}}</h1>
                    <h2>{{page.description}}</h2>
                    <div class="info2">
                        <div class="servings2">
                            <img src="/assets/img/serving.png" alt="Type">
                            <p>
                                {% if page.type.size > 1 %}
                                    {% for type in page.type %}
                                        <span>{{ type }}</span>{% if forloop.last == false %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span>{{ page.type }}</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="time2">
                            <img src="/assets/img/clock.png" alt="Time">
                            <p>Total: <span>{{page.time-total}}min |</span> Preparação: <span>{{page.time-prepar}}min
                                    |</span> Confeção: <span>{{page.time-confe}}min</span></p>
                        </div>
                        <div class="porcoes2">
                            <img src="/assets/img/porcoes.png" alt="Serves">
                            <p><span>{{page.serve}}</span> </p>
                        </div>
                    </div>
                </div>
                <div class="container-informacao">
                    <div class="informação-nutricional">
                        Consultar informação nutricional
                        <i class="fas fa-caret-down"></i>

                    </div>
                </div>

            </div>
        </div>
        <div id="InformationBox" class="InformationBox hidden">
            
            <h2 class="informacao-title">Informação nutricional*</h2>
            <h2 class="por-porcao">(por porção)</h2>
            <div class="nutrition-item">
                <span class="value">{{page.calorias}}KCal</span>
                <span class="label">Calorias</span>
            </div>
            <div class="nutrition-item">
                <span class="value">{{page.proteinas}}g</span>
                <span class="label">Proteína</span>
            </div>
            <div class="nutrition-item">
                <span class="value">{{page.hidratos}}g</span>
                <span class="label">Hidratos de Carbono</span>
            </div>
            <div class="nutrition-item">
                <span class="value">{{page.lipidos}}g</span>
                <span class="label">Lípidos</span>
            </div>

            <h2 class="note">* valores calculados através da app MyFitnessPal</h2>
        </div>

        <div class="content2">
            <div class="container-ingredients2">
                <div class="ingredients2">
                    <h3>INGREDIENTES</h3>
                    <ul>
                        {% for ingredient in page.ingredients %}
                        {% assign parts = ingredient | split: "|" %}
                        <li>
                                <span class="measure3"> {{ parts[0] }}</span>
                                {% if parts[1] %}
                                <span class="ingredient3">{{ parts[1]}}</span>
                                {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="container-directions2">
                <div class="directions2">
                    <h3 style="text-align: center;">INSTRUÇÕES</h3>
                    <ol>
                        {% for pass in page.instructions %}
                        <li>
                            {{ pass | markdownify}}
                        </li>
                        {% endfor %}
                    </ol>
                    <!-- Notes Section (Footer) -->
                    {% if page.notes %}
                    <div class="notes-footer2">
                        <h3>Notas</h3>
                        <ul>
                            {% for note in page.notes %}
                            <li>
                                <span>{{ note | markdownify | replace: "<p>", "" | replace: "</p>", "" }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

</div>