---
layout: default
---
<div class="post-container">
    <div class="recipe-card">
        <div class="header">
            <h1>{{page.title}}</h1>
            <h2>{{page.description}}</h2>
            <div class="rating">
                ★★★★☆
            </div>
        </div>

        <div class="image-section">
            <img class="post-recipe-img" src="{{ page.image }}">
        </div>


        <div class="content">
            <div class="ingredients">
                <div class="info">
                    <div class="servings">
                        <img src="/assets/img/cultery.png" alt="Servings">
                        <p>{{page.serve}}</p>
                    </div>
                    <div class="time">
                        <img src="/assets/img/clock.png" alt="Time">
                        <p>{{page.minutes}} minutes</p>
                    </div>
                </div>

                <h3>INGREDIENTES</h3>
                <ul>
                    {% for ingredient in page.ingredients %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="separator"></div>
            <div class="directions">
                <h3 style="text-align: center;">INSTRUÇÕES</h3>
                <ol>
                    {% for pass in page.instructions %}
                    <li>{{ pass }}
                        <br>
                    </li>
                    {% endfor %}
                </ol>
            </div>

        </div>
        {% if page.notes %}
        <div class="notes-footer">
            <h3>Notas</h3>
            {% for note in page.notes %}
                <p>{{ note | markdownify }}</p>  <!-- Use markdownify to convert Markdown to HTML -->
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>